.panel-default>.health-alert {
  background-color: #feff1a;
  border-color: black;
}

.results-text {
    font-size: 1.5em;
}
.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.sub-heading {
    margin-left: -15px;
    margin-right:-15px;
    border-top: 1px;
}
.sub-label {
    font-size: 1.2em;
    text-align: left !important;
}

.immunization-follow {
    display: none;
}

.form-group-short {
    margin-left: -15px;
    margin-right:-15px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.col-no-margin {
    padding-left: 0px;
    padding-right: 0px;
}

.follow-required {
    display: inline;
    color: red;
    font-weight: bold;
}

.none-visibility {
    display: none;
}
